<div class="main-container">
    <div class="title">
        <span style="font-weight: bold;">Hello, {{user()?.fullName || "Unknown"}}</span>
        <span style="color: var(--font-light)">Account Details</span>
    </div>


    <div class="details" *ngIf="!isEditing">
        <img [src]="user()?.image" alt="User Profile Picture">
        <span>Full Name: {{user()?.fullName || "Unknown"}}</span>
        <span>Email: {{user()?.email || "Unknown"}}</span>
        <button mat-raised-button (click)="isEditing = !isEditing">Edit Profile</button>
    </div>

    <div class="details" *ngIf="isEditing">

        <form [formGroup]="accountForm" (ngSubmit)="updateProfile()">

            <div class="image-input">
                <mat-label>Profile Picture</mat-label>
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="image">
                <mat-hint>Selected: {{temporaryImg}}</mat-hint>
            </div>

            <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="fullName">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <div class="btn-container">
                <button mat-button (click)="isEditing = !isEditing" type="button">Cancel</button>
                <button mat-raised-button [disabled]="accountForm.invalid">Update</button>
            </div>
        </form>

    </div>
</div>