.sidenav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
}

.sidenav {
    padding: 20px;
    background-color:var(--bg-0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.top-area {
    height: 50px;
}