.header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: var(--bg-1);
    height: calc(100px - 16px);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font: 400 2.812rem / 3.25rem Roboto, sans-serif;
    letter-spacing: 0;
}