.header {
    position: relative;
    top: 0;
    left: 16px;
    border-bottom-left-radius: 16px;
    width: calc(100% - 16px);
    background-color: brown;
    height: calc(100px - 16px);
    padding-left: calc(40px + 32px);
    box-sizing: border-box;
}