.size {
    height: 200px;
    width: 100%;
    white-space: wrap;
}

.send {
    position: absolute;
    right: 8px;
    top: 2px;
}

@media screen and (max-width: 1440px) {
    .size {
        height: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .size {
        height: 80px;
    }
}