.header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: var(--bg-1);
    height: calc(100px - 16px);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.title {
    font: 400 36px / 52px Roboto, sans-serif;
    letter-spacing: 0;
}

@media screen and (max-width: 1024px) {
    .title {
        font: 400 24px / 52px Roboto, sans-serif;
    }

}