<div class="left-menu-area" #leftmenu>

    <div class="left-menu-wrapper" *ngIf="isShrunk">

        <button mat-icon-button (click)="toggleLeftMenu()"><mat-icon >chevron_right</mat-icon></button>

        <button mat-icon-button [matMenuTriggerFor]="chans">
            <mat-icon>forum</mat-icon>
            <mat-menu #chans="matMenu">
                <ng-container *ngIf="channels() && channels().length; else noChannelsSmall">
                    <button mat-menu-item *ngFor="let channel of channels()"
                        (click)="switchToChannel(channel)"><mat-icon>forum</mat-icon>{{channel.name}}</button>
                </ng-container>
                <ng-template #noChannelsSmall>
                    <span>No channels yet</span>
                    <button mat-menu-item joinChannel><mat-icon>login</mat-icon> Join Channel</button>
                    <button mat-menu-item createChannel><mat-icon>add</mat-icon> Create Channel</button>
                </ng-template>
            </mat-menu>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="dms">
            <mat-icon>3p</mat-icon>
            <mat-menu #dms="matMenu">
                <ng-container *ngIf="directMessages() && directMessages().length; else noDMSmall">
                    <button mat-menu-item *ngFor="let dm of directMessages()"
                        (click)="switchToChannel(dm)"><mat-icon>3p</mat-icon>{{returnChatpartner(dm.members)}}</button>
                </ng-container>
                <ng-template #noDMSmall>
                    <span>No messages yet</span>
                    <button mat-menu-item writeDirectMessage><mat-icon>add</mat-icon> Write Someone</button>
                </ng-template>
            </mat-menu>
        </button>
    </div>

    <div class="left-menu-wrapper" *ngIf="!isShrunk">

        <button mat-button (click)="toggleLeftMenu()">Minimize<mat-icon >chevron_left</mat-icon></button>

        <button mat-button (click)="showChannels = !showChannels">
            Channels
            <mat-icon *ngIf="!showChannels">chevron_right</mat-icon>
            <mat-icon *ngIf="showChannels">chevron_left</mat-icon>
        </button>
        <ng-container *ngIf="showChannels">
            <ng-container *ngIf="channels() && channels().length; else noChannelsBig">
                <button mat-button joinChannel><mat-icon>login</mat-icon> Join Channel</button>
                <button mat-button><mat-icon>add</mat-icon> Create Channel</button>
                <button mat-button *ngFor="let channel of channels()"
                    (click)="switchToChannel(channel)"><mat-icon>forum</mat-icon> {{channel.name}}</button>
            </ng-container>
            <ng-template #noChannelsBig>
                <button mat-button joinChannel><mat-icon>login</mat-icon> Join Channel</button>
                <button mat-button createChannel><mat-icon>add</mat-icon> Create Channel</button>
                <span>No channels yet</span>
            </ng-template>
        </ng-container>

        <div class="line"></div>

        <button mat-button (click)="showDMs = !showDMs">
            Direct Messages
            <mat-icon *ngIf="!showDMs">chevron_right</mat-icon>
            <mat-icon *ngIf="showDMs">chevron_left</mat-icon>
        </button>
        <ng-container *ngIf="showDMs">
            <ng-container *ngIf="directMessages() && directMessages().length; else noDMBig">
                <button mat-button><mat-icon>add</mat-icon> Write Someone</button>
                <button mat-button *ngFor="let dm of directMessages()"
                    (click)="switchToChannel(dm)"><mat-icon>3p</mat-icon> {{returnChatpartner(dm.members)}}
                </button>
            </ng-container>
            <ng-template #noDMBig>
                <button mat-button writeDirectMessage><mat-icon>add</mat-icon> Write Someone</button>
                <span>No messages yet</span>
            </ng-template>
        </ng-container>
    </div>


</div>