<div class="main-container">

    <app-drawer></app-drawer>

    <div class="content-container">

        <ng-container *ngIf="channel(); else showButton">
            <div class="content-top-area">
                <span class="channel-title">{{channel()?.name || "Title"}}</span>
                <span>Created on {{channel()?.created | date: "short" || ""}} by {{channel()?.createdBy?.fullName ||
                    "..."}}.</span>
                <span class="description">Description: {{channel()?.description || "..."}}</span>
                <span class="members-area">
                    <span class="members-list">
                        <span>Members:</span>
                        <ng-container *ngIf="channel(); else noCurrentChannel">
                            <button mat-button *ngFor="let member of channel()?.members">
                                <mat-icon>person</mat-icon>{{member.fullName}}
                            </button>
                        </ng-container>
                        <ng-template #noCurrentChannel>
                            <span>...</span>
                        </ng-template>
                    </span>
                    <span class="more-btn">
                        <span>Members:</span>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_horiz</mat-icon>
                            <mat-menu #menu="matMenu">
                                <ng-container *ngIf="channel(); else noCurrentChannelSmall">
                                    <button mat-menu-item *ngFor="let member of channel()?.members">
                                        <mat-icon>person</mat-icon>{{member.fullName}}
                                    </button>
                                </ng-container>
                                <ng-template #noCurrentChannelSmall>
                                    <span>...</span>
                                </ng-template>
                            </mat-menu>
                        </button>
                    </span>
                </span>
            </div>

            <div class="content-bottom-area" #messagesArea>
                <ng-container *ngIf="messages() && messages().length; else noMessages">
                    <div class="message" *ngFor="let message of messages()">
                        <img style="width: 40px; border-radius: 16px; object-fit: contain;"
                            [src]="message.createdBy.image" alt="profile picture">
                        <mat-card>
                            <mat-card-content style="display: flex; flex-direction: column;">
                                <span
                                    style="font-size: 12px; line-height: 0.5; margin-bottom: 8px; color: var(--font-light);">{{message.createdBy.fullName}}
                                    - {{message.created | date: "short"}}</span>
                                <span [innerHTML]="getSanitizedMessage(message.content)"></span>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-container>
                <ng-template #noMessages>
                    <span>No messages yet</span>
                </ng-template>


            </div>

            <div style="margin-left: 8px; margin-right: 8px; margin-top: 8px; position: relative;">
                <app-quill-bubble (messageSent)="scrollToLatestMessage($event)"></app-quill-bubble>
            </div>

        </ng-container>

        <ng-template #showButton>
            <div class="empty-channel">
                <span>Join or create a channel</span>
                <button mat-raised-button joinChannel><mat-icon>login</mat-icon> Join Channel</button>
                <button mat-raised-button createChannel><mat-icon>add</mat-icon> Create Channel</button>
                <button mat-raised-button writeDirectMessage><mat-icon>add</mat-icon> Write Direct Message</button>
            </div>
        </ng-template>
    </div>

</div>