.main-container {
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--bg-2);
    width: 100%;
    height: calc(100% - 84px);
    display: flex;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-top-area {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.content-bottom-area {
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative;
    gap: 8px;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.message {
    display: flex;
    gap: 8px;
    white-space: wrap;
}

.hide-overflow {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis when text overflows */
    white-space: nowrap; /* Prevent text from wrapping */
}

.left-menu-area {
    width: 300px;
    min-width: 300px;
    border-right: 2px solid var(--border);
    transition: all 225ms ease-in-out;   
    box-sizing: border-box;
}

.left-menu-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.left-menu-bottom {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    button {
        justify-content: flex-start;
    }
}

.members-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.channel-title {
    font-weight: bold;
    font-size: 18px;
}

.more-btn {
    display: none;
}

.members-area {
    border-bottom: 2px solid var(--border);
}

.description {
    white-space: wrap;
}

.shrink {
    width: 56px;
    min-width: 56px;
}

@media screen and (max-width: 1024px) {
    .left-menu-area {
        display: none;
    }

    .more-btn {
        display: flex;
        align-items: center;
    }

    .members-list {
        display: none;
    }
}