.main-container {
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--bg-2);
    width: 100%;
    height: calc(100% - 84px);
    display: flex;
}

.left-menu-area {
    width: 300px;
    border-right: 2px solid var(--border);
    transition: all 225ms ease-in-out;   
}

.left-menu-top {
    display: flex;
    flex-direction: row-reverse;
}

.shrink {
    width: 56px;
}