<div class="main-container">

    <div class="left-menu-area" #leftmenu>

        <div class="left-menu-top">
            <button mat-icon-button (click)="toggleLeftMenu()">
                <mat-icon *ngIf="!isShrunk">chevron_left</mat-icon>
                <mat-icon *ngIf="isShrunk">chevron_right</mat-icon>
            </button>
        </div>

        <div class="left-menu-bottom" *ngIf="isShrunk">
            <button mat-icon-button [matMenuTriggerFor]="chans">
                <mat-icon>forum</mat-icon>
                <mat-menu #chans="matMenu">
                    <p style="margin-left: 8px;">Channels</p>
                    <button mat-menu-item *ngFor="let channel of channels()"
                        (click)="switchToChannel(channel)"><mat-icon>forum</mat-icon>{{channel.name}}</button>
                </mat-menu>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="dms">
                <mat-icon>3p</mat-icon>
                <mat-menu #dms="matMenu">
                    <p style="margin-left: 8px;">Direct Messages</p>
                    <button mat-menu-item *ngFor="let dm of directMessages()"
                        (click)="switchToChannel(dm)"><mat-icon>3p</mat-icon>{{returnChatpartner(dm.members)}}</button>
                </mat-menu>
            </button>
        </div>

        <div class="left-menu-bottom" *ngIf="!isShrunk">

            <button mat-button (click)="showChannels = !showChannels">
                Channels
                <mat-icon *ngIf="!showChannels">chevron_right</mat-icon>
                <mat-icon *ngIf="showChannels">chevron_left</mat-icon>
            </button>
            <ng-container *ngIf="showChannels">
                <button mat-button *ngFor="let channel of channels()"
                    (click)="switchToChannel(channel)"><mat-icon>forum</mat-icon> {{channel.name}}</button>

            </ng-container>

            <button mat-button (click)="showDMs = !showDMs">
                Direct Messages
                <mat-icon *ngIf="!showDMs">chevron_right</mat-icon>
                <mat-icon *ngIf="showDMs">chevron_left</mat-icon>
            </button>
            <ng-container *ngIf="showDMs">
                <button mat-button *ngFor="let dm of directMessages()"
                    (click)="switchToChannel(dm)"><mat-icon>3p</mat-icon> {{returnChatpartner(dm.members)}}</button>

            </ng-container>
        </div>


    </div>

    <div class="content-container hide-overflow" #content>
        <div class="content-top-area">
            <span class="channel-title">{{channel().name}}</span>
            <span>Created on {{channel().created | date: "short"}} by {{channel().createdBy.fullName}}.</span>
            <span class="description">Description: {{channel().description}}</span>
            <span class="members-area">
                <span class="members-list">
                    <span>Members:</span>
                    <button mat-button
                        *ngFor="let member of channel().members"><mat-icon>person</mat-icon>{{member.fullName}}</button>
                </span>
                <span class="more-btn">
                    <span>Members:</span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_horiz</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                *ngFor="let member of channel().members"><mat-icon>person</mat-icon>{{member.fullName}}</button>
                        </mat-menu>
                    </button>
                </span>
            </span>
        </div>

        <div class="content-bottom-area">

            <div class="message" *ngFor="let message of messages()">
                <mat-card>
                    <mat-card-content style="display: flex; flex-direction: column;">
                        <span style="font-weight: bold;">{{message.createdBy.fullName}}: </span>
                        {{message.created | date: "shortTime"}}
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <span>{{message.content}}</span>
                    </mat-card-content>
                </mat-card>
            </div>
            

        </div>
    </div>

</div>