<mat-drawer-container class="sidenav-container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="sidenav-content">

        <div class="header-container">
            <app-header></app-header>
        </div>
        

        <button mat-mini-fab (click)="drawer.toggle()" *ngIf="drawer.open" class="sidenav-toggle-btn">
            <mat-icon *ngIf="!drawer.opened">chevron_right</mat-icon>
            <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon>
        </button>

        <div class="content-container">
            <h2>Content</h2>
            <router-outlet />
        </div>
        
    </div>





</mat-drawer-container>