/* You can add global styles to this file, and also import other style files */

@import 'quill/dist/quill.snow.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-drawer-container {
    background-color: unset !important;
}

.mat-mdc-card {
    background-color: var(--text) !important;
}

quill-editor {
    display: block;
    z-index: 3;
}

.ql-editor:focus {
    border: 1px solid #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.ql-snow .ql-editor img {
    width: 50px;
    height: auto;
    border: 2px solid var(--border);
    transition: all 225ms ease-in-out;

    &:hover {
        border: 2px solid var(--border-black);
    }
}

:root {
    --bg-0: #A1D6B2;
    --bg-1: #CEDF9F;
    --bg-2: #F1F3C2;
    --text: #E8B86D;
    --border: #fff;
    --border-black: #111;
    --font-light: #585858;
}